<!-- login page for my chat app -->

<!doctype html>

<html>

<style>
	html, body{
		position: relative;
	}
	#registerScreen{
		position: relative;
		display: block;
		width: 400px;
		height: 400px;
		margin: 0 auto;
		margin-top: 10%;
		border: 1px solid #000;
		border-radius: 15px;
		text-align: center;
		box-shadow: 8px 6px 6px #cccddd; 
	}
	#top, #bottom{
		font-family: 'Indie Flower', cursive;
	}
	#bottom{
		position: absolute;
		bottom: 0;
		left: 10%;
	}
	#user, #pass{
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		display: block;
		margin-top: 5%;
	}
	#myname{
		font-family: 'Poppins', sans-serif;
		font-size: 10px;
	}
	#enter{
		margin-top: 5%;
		font-size: 28px;
		font-family: 'Poppins', sans-serif;
	}
	button{
		margin-top: 10px;
		padding: 4px 5px 4px 5px;
		border-radius: 6px;
		border: 1px solid #000;
	}
	a{
		text-decoration: none;
		color: #eaaabe;
	}
	.alert{
		color: #b91919;
	}
</style>

<head>
	<meta charset='utf-8'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<title> nick's chatapp login </title>
</head>

<body>

	<div id='registerScreen'>
		<div id='top'>
			<h2> please enter a username and password! </h2>
		</div>
		
		<!-- show message that comes back with authentication, if any -->
		<% if(message.length > 0) { %>
			<div class='alert'> <%= message %></div>
		<% } %>
		
		<!-- register form -->
		<form action='/register' method='post'>
			<div>
				<label id='user'> user name: <input name='username' type='text'></label>
				<label id='pass'> password: <input name='password' type='password'></label>
			</div>
			<button id='submit'> enter </button>
		</form>
		<!-- end form -->
		
		<div id='bottom'>
			<p> check out these awesome fonts <a href='https://fonts.google.com/specimen/Poppins?selection.family=Poppins'> here </a> and <a href='https://fonts.google.com/specimen/Indie+Flower?selection.family=Indie+Flower'> here </a>! </p>
			<hr>
			<p id='myname'> (c) n.c.h 2017 </p>
		</div>
	</div>
	
</body>

<script>


</script>

</html>